@model RecruitementManagementApp.Models.EmployeeFormation

@{
    ViewData["Title"] = "Edit";
    Layout = "EntrepriseL";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">



<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">


    <div class="sidebar-header">

        <h3 class="brand">

            <bold> Dashboard</bold>
        </h3>

        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>



    <div class="sidebar-menu">
        <ul>

            <li>
                <a asp-controller="Formations" asp-action="Index">
                    <span class="active-menu">
                    <span class="ti-stats-up"></span>
                    <span>My Formations</span>
                    </span>
                </a>

            </li>


            <li>

                <a asp-controller="Rh" asp-action="lesemployeesSelonFormation">
                    <span class="ti-check-box"> </span>
                    <span>Employees selon Formation</span>
                </a>
            </li>
            <li>
                <a asp-controller="Rh" asp-action="DetailsProfile">
                   
                        <span class="ti-user"> </span>
                        <span>Profile Détails</span>
                    
                </a>
            </li>

            <li>
                <a asp-controller="User" asp-action="Logout">
                    <span class="ti-power-off"> </span>
                    <span>LogOut</span>
                </a>
            </li>

        </ul>
    </div>
</div>


<div class="main-content">
    <main>

        <h2 class="dash-title">Edit Formations </h2>




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmployee" />
            <input type="hidden" asp-for="IdFormation" />
            <label asp-for="Status"></label>
            <select asp-for="Status" class="form-control">
                <option value="EnAttente"> EnAttente</option>
                <option value="Acceptees">Accepté(e)</option>
                <option value="Rejetees">Rejeté(e)</option>
            </select>
            <span asp-validation-for="Status"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LesemployeesSelonFormation">Back to List</a>
</div>

</main>
</div>