
 @model Employee
@{

    Layout = "LoginL";
}
<form asp-action="CompeleteProfile" method="post">
    <div class="form-container completeProfEmployee-container">
    @Html.AntiForgeryToken()

   
        @Html.AntiForgeryToken()
        <h2>Complete Your profile</h2>

    <div class="row">
        <!-- Left side -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DateNaiss"></label>
                <input asp-for="DateNaiss" class="form-control" type="date" />
                <span asp-validation-for="DateNaiss"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>
        <button type="submit" class="completebtn">Submit</button>
    </div>
  
</form>
 

